<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="image"></div>
    <div class="caption">
        <h1 class="name">Saved Articles</h1>
        <p class="saved">Welcome to your saved articles</p>
    </div>
 </div>
 <div class="container-fluid article-container">
 </div>
